html{
	height: 100%;
}
body{
	font-family: 'Roboto' sans-serif !important;
	min-height: inherit;	  
    background: rgba(46, 166, 158, 1) fixed !important;
    background: -moz-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46, 166, 158, 1)), color-stop(100%, rgba(10, 60, 113, 1))) fixed !important;
    background: -webkit-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: -o-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: -ms-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: linear-gradient(to bottom, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
}

main{
	margin-top: 8%;
	padding: 2%;
	background-color: white;
}

h1,h2{
	font-weight: 500;
}

h1{
	color : #034f84;
}

h2{
	color : #41ccb9;
}

h3{
	color : #034f84;
	font-weight: 400;
}

img{
	height: 300px;
	widht: auto;
	margin: auto;
}