html {
    height: 100%;
    width: calc(100% - 15px);
}

body {
    font-family: 'Roboto' sans-serif !important;
    min-height: inherit;
    background: rgba(46, 166, 158, 1) fixed !important;
    background: -moz-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46, 166, 158, 1)), color-stop(100%, rgba(10, 60, 113, 1))) fixed !important;
    background: -webkit-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: -o-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: -ms-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: linear-gradient(to bottom, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
}


.container {
    background-color: none;
}

#loginWrapper {
    padding-top: 5%;
}

.loginContainer {
    background-color: white;    
    margin: 0 auto;
    margin-top: 5%;
}

#logo {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 30%;
    padding-top: 2%;
}

.loginInput {
    position: relative;
    width: 68% !important;
    border:none; !important;
    font-family: roboto;
    background-color: #034F84!important;
    color: white !important;
    height: 50px !important;
    margin-bottom: 20px !important;
    padding-left: 20px !important;
}

#loginBtn {
    background-color: #034F84;
    color: white;
    position: relative;
    width: 70%;
    height: 50px;
    margin-bottom: 10%;
    margin-right:0px;
    margin-left:0px;
    font-family: roboto;
    font-size: 20px;
}

#loginBtn:hover {
    background-color: #41CCB9 !important;
}

.loginInput:focus {
    outline: none !important;
    border: none !important;
}

::-webkit-input-placeholder { 
  color: white;
  font-weight: 300;
  font-size: 20px;
}
::-moz-placeholder { 
  color: white;
}
:-ms-input-placeholder { 
  color: white;
}
:-moz-placeholder {
  color:white;
}

#errorMsg {
    font-family: roboto;
    font-size: 15px;
    color: #cc0000;
    display: none;
}
