html{
	height:100%;
}
body{
	height:inherit;
}
.mainPage{
	min-height:100%;
	background: rgba(46, 166, 158, 1) !important;
    background: -moz-linear-gradient(bottom, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
    background: -webkit-gradient(right top, left top, color-stop(0%, rgba(46, 166, 158, 1)), color-stop(100%, rgba(10, 60, 113, 1))) !important;
    background: -webkit-linear-gradient(bottom, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
    background: -o-linear-gradient(bottom, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
    background: -ms-linear-gradient(bottom, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
    background: linear-gradient(to top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
    -webkit-box-shadow: inset 4px -1px 16px -3px rgba(79,76,79,0.72);
    -moz-box-shadow: inset 4px -1px 16px -3px rgba(79,76,79,0.72);
    box-shadow: inset 4px -1px 16px -3px rgba(79,76,79,0.72);
}

.sidebar{
	padding:0px;
}

#logo{
	position:relative;
	display: block;
	margin:0 auto;
	width:100%;
	padding-top:2%;
}

.menuItem{
	font-family:roboto;
	font-size:20px;
	color:#034F84;
	text-align:center;
	padding:15px;
}

.menuItem:hover{
	background-color:#B5DFFD;
}

.menuIcon{
	margin-right:10px;
}

.userContainer{
	color:white;
	float:right;
	padding:10px;
}
.userIcon{
	float:left;
	margin-right:10px;
	margin-top: 5px;
}
#userName{
	float:left;
	margin-right:10px;
}
#userMenu{
	cursor:pointer;
}
.contentWrapper{
	width:85%;
	margin-top:5%;
}

.heading{
	position:relative;
	font-family:Roboto;
  	font-weight: 500;
  	color:#41CCB9!important;
}

.contentTab{
	position:relative;
	background-color:white;
	width:100%;
	padding:30px;
}

