html{
	height: 100%;
}
body{
	font-family: 'Roboto' sans-serif !important;
	min-height: inherit;	  
    background: rgba(46, 166, 158, 1) !important;
    background: -moz-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46, 166, 158, 1)), color-stop(100%, rgba(10, 60, 113, 1))) !important;
    background: -webkit-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
    background: -o-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
    background: linear-gradient(to bottom, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) !important;
}

main{
	margin-top: 8%;
	padding: 10%;
	background-color: white;
}

h1,h2{
	font-weight: 500;
}

h1{
	color : #034f84;
}

h2{
	color : #41ccb9;
}

h3{
	color : #034f84;
	font-weight: 400;
}

img{
	height: 300px;
	widht: auto;
	margin: auto;
}

.userContainer{
	color:white;
	float:right;
	padding:10px;	
}
.userIcon{
	float:left;
	margin-right:10px;
	margin-top: 5px;
}
#userName{
	float:left;
	margin-right:10px;
}
#userMenu{
	cursor:pointer;
}

.dropdown{
	display:inline-block;
}

.dropdown-menu > li>a{
	color: #034F84;
}

.dropdown-menu > li > a:hover {
    background-color: #B5DFFD;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

