/*homepage*/

.notificationCard{
	color:white;
	padding:10px;
	margin-bottom:10px;
}

.notificationText{
	font-weight: 400;
	font-size:25px;
	cursor:context-menu;
}
.notificationLink{
	font-weight:300;
	cursor:pointer;
}
#newAppointments{
	background-color:#41CCB9;
}

#cancelledAppointments{
	background-color: #FF7B95;
}

#nextAppointmentContainer{
	margin-top:20px;
}
#nextAppointmentAt{
	font-size:20px;
	font-weight:400;
	margin:0;
}
.huuugeText{
	font-size:60px;
	font-weight:500;
}

.countContainer{
	background-color:#034F84;
}

.likeContainer{
	background-color: #FF7B95;
}

