.doctor-appointments input{
	border: 2px solid #41ccb9;
	color: white;
}

.appointment-day, .appointment-week{
	background-color: #b5dffd;
	display: inline-block;
	padding: 20px;
	margin: 10px !important;
	width: 100% !important;
	text-align: center;	
}

.appointment-day .time, .appointment-week .date{
	font-weight: 500;
	font-size: 20px;
}

.appointment-day .patient, .appointment-week .num-of-appointments{
	font-size: 20px;
	font-weight: 300;
}

.appointment-day .note{
	font-size: 15px;
	width: inherit;
	margin-top: 5px;
	word-wrap: break-word;
	overflow-wrap : break-word;
	word-break : break-word;
}

.heading-appointments{
	margin-left: 30px;
}

.appointment-day h3{
	margin: 0;
}

#day-input {
	padding: 0 15px !important;
	width: 100px;
	text-align: center;
	margin-bottom: 0;
	height: 46px;
	margin-top: 5px !important;
	display: inline-block;
}

.btn-appointments{
	background: #41ccb9 !important;
	border: 2px solid #41ccb9;
	height: 50px;
	display: inline-block;
	margin-top: -2px !important;
}
.app-menu {
	float: right;
	margin-right: 30px;
	margin-bottom: 10px;
	height: 65px;
}

.btn-appointments.active {
	background: #034F85 !important;
	border: 2px solid #034F85;
}
.btn-appointments:hover {
	background: #034F85 !important;
	border: 2px solid #034F85;
}

.ui-widget.ui-widget-content {
	z-index: 2 !important;
}

.apointment-select {
	margin-bottom: 10px !important;
	margin-right: 15px;
}