
html{
	height: 100%;
}

body{
	font-family: 'Roboto' sans-serif !important;
	min-height: inherit;	  
    background: rgba(46, 166, 158, 1) fixed !important;
    background: -moz-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46, 166, 158, 1)), color-stop(100%, rgba(10, 60, 113, 1))) fixed !important;
    background: -webkit-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: -o-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: -ms-linear-gradient(top, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
    background: linear-gradient(to bottom, rgba(46, 166, 158, 1) 0%, rgba(10, 60, 113, 1) 100%) fixed !important;
}

.container{
	max-width: 950px;
}

main{
	margin-top: 5%;
	background-color: white;
}

h1{
	color : #034f84;
}

.docgl-logo{
	float: right;
	width: 200px;
}

.cyan_txt {
	color: #41ccb9;
	display: inline-block;
}

#btn-register{
	background-color: #034F85;
	color: white;
	cursor:pointer;
	height: 2.1rem;
	font-size: 20px;
	border: none;
	width: 250px;
	margin-top: 20px;
	box-shadow: 2px 2px 7px 0 #034F85;
}

#btn-register:hover{
	box-shadow: 2px 2px 7px 0 #B5DFFD;
	color: #B5DFFD;
}

.header-div{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
}

.form-group{
	width: 250px;
	margin-bottom: 0;
}

.lbl-input{
	padding-left: 5px;
	color: #034f84;
	font-size: 16px;
}

.bottom-form-div{
	margin-bottom: 15%;
}
.form-div{
	margin-bottom: 20px;
}

input{
	width: 210px !important;
	position: relative;
    border: none !important;
    font-family: roboto;
    background-color: #B5DFFD !important;
    color: #034F84 !important;
    margin-bottom: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 16px !important;
    height: 33px !important;
}

input::placeholder{
	color: white;
}

select{
	width: 250px !important;
	position: relative;
    border: none !important;
    font-family: roboto;
    font-size: 16px;
    height: 35px;
    background-color: #B5DFFD !important;
    margin-bottom: 10px !important;
    padding-left: 20px !important;
    color: white !important;
}

.select-checked{
	color: #034F84 !important;
}

option{
	color: #034F84;
}

option:first-child{
	color: #034F84;
}

input:focus, select:hover{
	border-color: #034F84 !important;
 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #034F84 !important;
    outline: 0 none;
}

@media screen and (max-width: 767px) {
	.form-group{
    	margin: 0 auto;
	}
	button{
		display: block;
		margin: 0 auto !important;
	}
	.docgl-logo{
		float: none;
		display: block;
		margin: 20px auto;
	}
	.middle-col{
		margin-top: 20px;
	}
}
