<h1 class="heading" id="heading">Welcome, doc!</h1>
<h3 class="subHeading">Fresh data from DocGL, only for you.</h3>
<div class="container contentTab z-depth-1" id="contentTab">
	<div class="row">
		<div class="col-md-12" id="notificationsContainer">
			<div id="newAppointments" class="z-depth-1 text-center notificationCard">
				<p class="notificationText" id="appointmentNotification"></p>
				<p id="viewAppointments" class="notificationLink">view</p>
			</div>
			<div id="cancelledAppointments" class=" z-depth-1 text-center notificationCard">
				<p class="notificationText">0 patients cancelled an appointment.</p>
				<p id="viewCancelled" class="notificationLink">view</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center" id="nextAppointmentContainer">
			<p id="nextAppointmentAt">next appointment at</p>
			<p id="nextAppointmentTime" class="huuugeText">12 : 30 PM</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" id="appointmentCountContainer">
			<div class="countContainer notificationCard text-center z-depth-1">
				<p class="huuugeText" id="totalAppointments"></p>
				<p class="notificationText">appointments so far</p>
			</div>
		</div>
		<div class="col-md-6" id="likesContainer">
			<div class="likeContainer notificationCard text-center z-depth-1">
				<p class="huuugeText" id="likesCount">0</p>
				<p class="notificationText">DocGL users <i class="fa fa-heart heart"></i>you</p>
			</div>
		</div>
	</div>
</div>
