<h1 class="heading" id="heading"></h1>
<p class="subHeading">personal profile</p>
<div class="container contentTab z-depth-1" id="contentTab">
	<div class="row">
		<div class="col-md-6"><!--firstname, lastname,spec-->
			<p class="docProfileHeader">You</p>
			<div class="profileDiv" id="firstname_div">
				<h6 class="lbl">Username </h6>
				<h2 id="username"></h2>
			</div>
			<div class="profileDiv" id="firstname_div">
				<h6 class="lbl">First name </h6>
				<h2 id="firstname"></h2>
				<div id="changeFirstnameDiv">
					<input type="text" id="editFirstnameInput" class="editProfileInput">
					<p id="firstnameErrorMsg"></p>
				</div>
			</div>
			<div class="profileDiv" id="lastname_div">
				<h6 class="lbl">Last name</h6>
				<h2 id="lastname"></h2>
				<div id="changeLastnameDiv">
					<input type="text" id="editLastnameInput" class="editProfileInput">
					<p id="lastnameErrorMsg"></p>
				</div>
			</div>
			<div class="profileDiv" id="spec_div">
				<h6 class="lbl">Specialization</h6>
				<h2 id="spec"></h2>
			</div>
		</div>
		<div class="col-md-6"><!--contact info-->
			<p class="docProfileHeader">Contact Information</p>
			<div class="profileDiv" id="phone_div">
				<h6 class="lbl">Phone</h6>
				<h2 id="phone"></h2>
				<div id="changePhoneDiv">
					<input type="text" id="editPhoneInput" class="editProfileInput">
					<p id="phoneErrorMsg"></p>
				</div>
			</div>
			<div class="profileDiv" id="email_div">
				<h6 class="lbl">Email</h6>
				<h2 id="email"></h2>
				<div id="changeEmailDiv">
					<input type="text" id="editEmailInput" class="editProfileInput">
					<p id="emailErrorMsg"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"><!--city, workplace-->
			<p class="docProfileHeader">Location</p>
			<div class="profileDiv" id="city_div">
				<h6 class="lbl">City</h6>
				<h2 id="city"></h2>
			</div>
			<div class="profileDiv" id="workplace_div">
				<h6 class="lbl">Workplace</h6>
				<h2 id="workplace"></h2>
			</div> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p id="profileSuccess"></p>
			<button type="button" class="btn btn-primary waves-effect waves-light submitBtn" id="submitProfile">Submit</button> 
			<button type="button" class="btn btn-primary waves-effect waves-light" id="editProfile">Edit Profile</button>
		</div>
	</div>
	
</div>
