<div class="row doctor-appointments">
    <h1 class="heading heading-appointments" id="heading">Appointments</h1>
</div>
<div class="container contentTab z-depth-1" id="contentTab">
    <div class="row appointmentsForm">
        <div class="col-md-12">
            <form class="row navigationRow">
                <div class="col-md-3 text-center">
                <input type="text" class="form-control datepicker" placeholder="day" id="day-input">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                     <button type="button" class="btn btn-primary btn-appointments active" id="day">Selected Day</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-appointments" id="week">Week from selected day</button>
                </div>
            </form>
        </div>
    </div>
    <div id="appointmentContainer" class="row">
    </div>
</div>
<div id="appointmentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title headingModal">Appointment details</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>


<script>
var appointments;

$("#week").on("click",function(){
    $(this).addClass("active");
    $("#day").removeClass("active");
    $('#appointmentContainer').empty();
        showWeeklyAppointments();

});

$("#day").on("click",function(){
    $(this).addClass("active");
    $("#week").removeClass("active");
    $('#appointmentContainer').empty();
        showDayAppointments($('#day-input').val());

});

$('#day-input').change(function() {
    if ($("#day").hasClass("active")) {
        $('#appointmentContainer').empty();
        showDayAppointments($('#day-input').val());
    }
    if ($("#week").hasClass("active")) {
        $('#appointmentContainer').empty();
        showWeeklyAppointments();
    }
});
function showDayAppointments(date) {
    var d =$.Deferred();
    ajaxRequest("doctors/" + localStorage.getItem("id") + "/appointments?date=" + date, 'GET').done(function() {
        $(".appointment-day").remove();
        if(appointments.length!=0)
            for (var i = 0; i < appointments.length; i++) {
                if(appointments[i].canceled==false){
                    var appointmentBox = $('<div class="appointment-day"></div>');
                    var appointmentTimeBox = $('<div class="time"></div>');
                    var appointmentPatientBox = $('<div class="patient"></div>');
                    var appointmentNoteBox = $('<p class="note"></p>');
                    var btnCancelAppointment = $('<button type="button" class="btn btn-danger btn-sm btn-cancel-appointment" id="' + appointments[i].id + '">Cancel</button>');
                    var colMd4 = $('<div class="col-md-4"></div>');
                    if(appointments[i].done==true)
                        btnCancelAppointment='<i class="fa fa-check-circle-o tableIcon statusIcon approvedIcon done" aria-hidden="true"></i>';
                    appointmentTimeBox.text((appointments[i].time).substr(0, 5));
                    appointmentPatientBox.text((appointments[i].patientFirstName == "" ? appointments[i].patient.firstName : appointments[i].patientFirstName) + " " + (appointments[i].patientLastName == "" ? appointments[i].patient.lastName : appointments[i].patientLastName));
                    appointmentNoteBox.text(appointments[i].note);
                    appointmentBox.append(appointmentTimeBox, appointmentPatientBox, appointmentNoteBox, btnCancelAppointment);
                    appointmentBox.appendTo(colMd4);
                    colMd4.appendTo('#appointmentContainer');
                }
            }
        else{
            $("#appointmentContainer").empty();
            $("#appointmentContainer").append("<div class='text-center subHeadingBlue ' id='noAppointments'>No appointments scheduled for today.</div>");
        }
        d.resolve();                
    });
    return d.promise();
}
function showWeeklyAppointments() {
    ajaxRequest("doctors/" + localStorage.getItem("id") + "/appointments?date=" + $('#day-input').val() + "&timePeriod=week", 'GET').done(function() {
        $(".appointment-day").remove();
        for (var i = 0; i < appointments.length; i++) {
            var appointmentBox = $('<div class="appointment-week"></div>').css('cursor', 'pointer');
            var appointmentDateBox = $('<div class="date"></div>');
            var appointmentCountBox = $('<div class="num-of-appointments"></div>');
            var colMd4 = $('<div class="col-md-4"></div>');
            appointmentDateBox.text(appointments[i].date);
            appointmentCountBox.text("Number of appointments: " + appointments[i].appointments);
            appointmentBox.append(appointmentDateBox, appointmentCountBox);
            appointmentBox.appendTo(colMd4);
            colMd4.appendTo('#appointmentContainer');
        }
    });
}
$(function() {
    $(".datepicker").datepicker({
        dateFormat: "yy-mm-dd",
        defaultDate: getCurrentDate()
    }).val(getCurrentDate());
});
(function() {
    showDayAppointments(getCurrentDate());
})();
function getCurrentDate() {
    var d = new Date(),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();
    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    return [year, month, day].join('-');
}
function ajaxRequest(sufix, type) {
    var deferred = $.Deferred();
    $.ajax({
        beforeSend: function(xhr) {
            xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem("token"));
        },
        url: 'http://localhost:8085/api/' + sufix,
        type: type,
        contentType: 'application/json',
        success: function(data) {
            if (data !== undefined) {
                appointments = data;
                // console.log(appointments);
            }
            deferred.resolve();
        },
        error: function() {
            deferred.reject();
        }
    });
    return deferred.promise();
}
$(document).on('click', '.appointment-week', function() {
    var date = $(this).find('.date').text();
    $("#day").addClass("active");
    $("#week").removeClass("active");
    $('#appointmentContainer').empty();
    showDayAppointments(date);
    $("#day-input").val(date);
    $('#appointmentContainer').empty();
});

$(document).on('click', '.btn-cancel-appointment', function() {
    var appointmentId = $(this).attr('id');
    ajaxRequest("appointments/" + appointmentId, 'DELETE').done(function () {
        $('#appointmentContainer').html("");    
        showDayAppointments($('#day-input').val()); 
    });
    showDayAppointments($('#day-input').val());
});
</script>