<h1 class="heading" id="heading"></h1>
<p class="subHeading">personal profile</p>
<div class="container contentTab z-depth-1" id="contentTab">
	<div class="row" id="profileContainer">
		<div class=col-md-5>
			<div class="profileDiv" id="username_div">
				<h6 class="lbl">Username</h6>
				<h2 id="username"></h2>
			</div>
			<div id="email_div" class="profileDiv">
				<h6 class="lbl">Email</h6>
				<h2 id="email"></h2>
			</div>
			<div id="password_div" class="profileDiv">
				<h6 class="lbl">Password</h6>
				<h2 id="password"></h2>
			</div>
		</div>
		<div class=col-md-7>
			<div>
				<i class="fa fa-user-circle-o" aria-hidden="true" id="profileIcon"></i>
			</div>
		</div>
	</div>
</div>
