<h1 class="heading" id="heading"></h1>
<p class="subHeading">personal profile</p>
<div class="container contentTab z-depth-1" id="contentTab">
	<div class="row" id="profileContainer">
		<div class=col-md-5>
			<div class="profileDiv" id="username_div">
				<h6 class="lbl">Username <i class="fa fa-pencil editProfileI" id="editUsername"></i></h6>
				<h2 id="username"></h2>
				<div id="changeUsernameDiv">
					<input type="text" id="editUsernameInput" class="editProfileInput">
					<span id="submitUsername"><i class="fa fa-check-square submitIcon" aria-hidden="true"></i></span>
				</div>
			</div>
			<div id="email_div" class="profileDiv">
				<h6 class="lbl">Email <i class="fa fa-pencil editProfileI" id="editEmail"></i></h6>
				<h2 id="email"></h2>
				<div id="changeEmailDiv">
					<input type="text" id="editEmailInput" class="editProfileInput">
					<span id="submitEmail"><i class="fa fa-check-square submitIcon" aria-hidden="true"></i></span>
				</div>
			</div>
			<div id="password_div" class="profileDiv">
				<h6 class="lbl">Password <i class="fa fa-pencil editProfileI" id="editPassword"></i></h6>
				<h2 id="password"></h2>
				<div id="changePasswordDiv">
					<input type="password" id="editPwd1" class="editProfileInput">
					<input type="password" id="editPwd2" class="editProfileInput">
					<p id="pwdErrorMsg"></p>
					<span id="submitPassword"><i class="fa fa-check-square submitIcon" aria-hidden="true"></i></span>
				</div>
			</div>
		</div>
		<div class=col-md-7>
			<div>
				<i class="fa fa-user-circle-o" aria-hidden="true" id="profileIcon"></i>
			</div>
		</div>
	</div>
</div>
