<h1 class="heading" id="heading">Change your password</h1>
<div class="container contentTab z-depth-1" id="contentTab">
	<div class="row" id="profileContainer">
		<div class=col-md-6>
			<div id="password_div" class="profileDiv">
				<h6 class="lbl">Password</h6>
				<h2 id="password">*********</h2>
				<div id="changePasswordDiv">
					<input type="password" id="editPwd1" class="editProfileInput" placeholder="Choose a new password">
					<input type="password" id="editPwd2" class="editProfileInput" placeholder="Re-enter new password">
					<p id="pwdErrorMsg"></p>
				</div>
			</div>
			<button type="button" class="btn btn-primary waves-effect waves-light submitBtn" id="submitPassword">Submit</button>
			<button type="button" class="btn btn-primary waves-effect waves-light" id="editPassword">Edit</button>
		</div>
	</div>
</div>