<h1 class="heading" id="heading">Welcome!</h1>
<h3 class="subHeading">Here's what DocGL's been up to while you were gone.</h3>
<div class="container contentTab z-depth-1" id="contentTab">
<div class="row">
	<div class="col-md-6 text-center" id="appointmentCount">
		<span id="countAppointments" class="homeNumbers"></span>
		<br>
		<span class="homeText">appointments today</span>
	</div>
	<div class="col-md-6 text-center" id="likes">
		<span id="countLikes" class="homeNumbers"></span>
		<br>
		<span class="homeText"><i class="fa fa-heart heart like"></i>for the Docs</span>
	</div>
</div>
<div class="row" id="registrationStatistics">
	<div class="col-md-12 text-center">
	<h2 class="subHeadingBlue">Calculating registration data...</h2>
	<h1 class="subHeadingBlue"><i class="fa fa-spinner" aria-hidden="true"></i></h1>

	</div>
</div>
</div>