<div class="row"">
	<div class="col-md-8">
		<h1 class="heading" id="heading">Users</h1>
	</div>
	<div class="col-md-4 searchfield-wrapper">
		<input type="text" class="searchfield fontAwesome" id="searchFieldUsers" placeholder="&#xF002;">
	</div>
</div>
<div class="container contentTab z-depth-1" id="contentTab">
<div class="table-responsive">
<table class="table" id="tableUsers">
	<tr>
		<th></th>
		<th>ID<span id="sortIdUsers"><i class="fa fa-sort-desc sortArrow" aria-hidden="true"></i></span></th>
		<th>Name<span id="sortNameUsers"><i class="fa fa-sort-desc sortArrow" aria-hidden="true"></i></span></th>
		<th>Email address</th>
		<th>Joined date  <span id="sortJoinedUsers"><i class="fa fa-sort-desc sortArrow" aria-hidden="true"></i></span></th>
		<th class='text-center'>Status</th>
	</tr>
</table>
</div>
</div>

<div id="userStatusModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title headingModal">Edit user status</h4>
			</div>
			<div class="modal-body">
				<div class='row'>
					<div class="col-md-6 text-center">
						<i class="fa fa-check-circle-o modalIcon statusIcon approvedIcon " id="approveUser" data-dismiss="modal"></i>
						<br>
						<p class="approvedIcon">Unblock</p>
					</div>
					<div class="col-md-6 text-center">
						<i class="fa fa-ban modalIcon statusIcon blockedIcon" id="blockUser" data-dismiss="modal"></i>
						<br>
						<p class="blockedIcon">Block</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
