<div class="row"">
	<div class="col-md-8">
		<h1 class="heading" id="heading">Users</h1>
	</div>
	<div class="col-md-4 searchfield-wrapper">
		<input type="text" class="searchfield fontAwesome" id="searchFieldUsers" placeholder="&#xF002;">
	</div>
</div>
<div class="container contentTab z-depth-1" id="contentTab">
<table class="table" id="tableUsers">
	<tr>
		<th></th>
		<th>ID<span id="sortIdUsers"><i class="fa fa-sort-desc sortArrow" aria-hidden="true"></i></span></th>
		<th>Name<span id="sortNameUsers"><i class="fa fa-sort-desc sortArrow" aria-hidden="true"></i></span></th>
		<th>Email address</th>
		<th>Joined date  <span id="sortJoinedUsers"><i class="fa fa-sort-desc sortArrow" aria-hidden="true"></i></span></th>
	</tr>
</table>
</div>
