<div class="row"">
	<div class="col-md-8">
		<h1 class="heading" id="heading">Doctors</h1>
	</div>
	<div class="col-md-4 searchfield-wrapper">
		<input type="text" class="searchfield fontAwesome" id="searchFieldDoctors" placeholder="&#xF002;">
	</div>
</div>
<div class="container contentTab z-depth-1" id="contentTab">
<table class="table" id="tableDoctors">
	<tr>
		<th></th>
		<th>ID</th>
		<th>Name</th>
		<th>Specialization</th>
		<th>Email address</th>
		<th>Rating</th>
	</tr>
</table>
</div>
