<div class="row"">
	<div class="col-md-8">
		<h1 class="heading" id="heading">Doctors</h1>
	</div>
	<div class="col-md-4 searchfield-wrapper">
		<input type="text" class="searchfield fontAwesome" id="searchFieldDoctors" placeholder="&#xF002;">
	</div>
</div>
<div class="container contentTab z-depth-1" id="contentTab">
<div class="table-responsive">
	<table class="table" id="tableDoctors">
		<tr>
			<th></th>
			<th>First name</th>
			<th id="sortLastNameDocs" class="clickable">Last name<span class="sortArrowContainer"></span></th>
			<th id="sortSpecDocs" class="clickable">Specialization<span class="sortArrowContainer"></span></th>
			<th>Email address</th>
			<th id="sortRatingDocs" class="clickable">Rating<span class="sortArrowContainer"></span></th>
			<th class="text-center">Status</th>
			<th>Approval</th>
		</tr>
	</table>
</div>
</div>
<!--the modal will be used to display doc details-->
<div id="docInfoModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title headingModal">Details</h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
